/*Assigning the more intuitive box-sizing model (border-box)*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*Remove all pre-assigned margins*/
* {
    margin: 0;
}

/*Allow percentage based heights in my application*/
html, body {
    height: 100%;
}

/*Add accessible line-height and improve text rendering*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*Better media defaults*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/*Remove built-in form typography styles*/
input, button, textarea, select {
    font: inherit;
}

/*Avoid text overflow*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*Create a root stacking context*/
#root, #__next {
    isolation: isolate;
}



/*Start of my CSS*/

/*Declare and initialize color variables*/
:root {
    --main-bg-color:#f8e2ce ;
    --secondary-bg-color: #f5f0e7;
    --main-text-color: #56949F;
    --secondary-text-color: #D7827E;
}

/*Assign default font family and font color.*/
*{
    font-family: 'IBM Plex Mono', monospace;
    color: var(--main-text-color);
}

/*Set background color.*/
body {
    background: var(--main-bg-color);
}

.side-nav-flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

/*Side nav style.*/
.side-nav {
    background-color: var(--secondary-bg-color);
}

/*Ensure all the content (minus the side navigation) utilizes the rest of the available horizontal space.*/
.main-content {
    flex-grow:1;
}

/*Stick the top-nav to always be at the top of the screen, even when scrolling*/
.top-nav {
    position: sticky;
    top: 0;
}

/*style the top-nav using flex. Align the links to the right end of the page.*/
.top-nav ul {
    height: 30px;
    margin-right: 20px;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;
}

/*Removes the underline from navigation links*/
.nav-links a {
    text-decoration: none;
}

/*Remove the bullet points list style for navigation list items.*/
.side-nav ul, .top-nav ul {
    list-style-type: none;
}

.side-nav {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.side-nav-body {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
}

.side-nav-body p {
    color: black;
} 

/*Remove the border and background color that comes default with buttons.*/
button {
    border:none;
    background: none;
}

/*remove the textarea border and change its background color to our secondary color.*/
textarea {
    border: none;
    background: var(--secondary-bg-color)
}

/*use flexbox to position the sidenav button above the create new note button*/
.home-main {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

/*style the new note button to take up half of the empty space and center itself within it.*/
#new-note-button {
    flex-grow: 0.5;
    align-self: center;
}

/*use flexbox to position the new note button and textarea above the save and delete buttons and center them all.*/
.note-main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*use flexbox to align the new note button with the top of the textarea*/
.style-button-textarea {
    display:flex;
    align-items: flex-start;
}

/*make our delete button be our secondary text color*/
#style-delete-button {
    color: var(--secondary-text-color);
}

/*These two classes in conjunction with one another will result in the footer always being at the bottom of the page.*/
.footer-container {
    display: flex;
    min-height: 100hv;
    flex-direction: column;
}
.position-footer {
    flex: 1;
}

/*Center my footer text*/
footer {
    text-align: center;
}